ul 
{
    list-style-type: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    background-color: rgb(85, 104, 165);
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover 
{
    background-color: rgb(59, 95, 141);
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body 
{
    background-image: url("background.jpg");
    background-color: #cccccc;    
    filter: grayscale(30%);
    background-repeat: no-repeat;
    
}

.searchArea
{
    padding: 20%;
    text-align: center;       
}

/* SEARCH INPUT AREA CSS */
form.searchArea input[type = text]
{
    opacity: 0.8;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: center;
    width: 70%;
    background: #f1f1f1;
}

/* SEARCH BUTTON CSS */
form.searchArea button 
{
    opacity: 0.8;
    float: right;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

footer 
{
    background-color: #1b1c1d;
    color: #fff;
    overflow: hidden;
}

footer .container
{
    padding: 5% 0;
}

.container
{
    position: relative;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}


